<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularios</title>
    <link rel="stylesheet" href="/css/formularios.css">
</head>
<body>
    
    <div class="titulo">
        <h2>A continuación, un formulario</h2>
    </div>

    <form action="" method="">

        <div>
            <label for="nombreUsuario">Nombre completo</label>
            <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Juan Manuel Pérez">
        </div>

        <div>
            <label for="passwordUsuario">Contraseña</label>
            <input type="password" name="passwordUsuario" id="passwordUsuario" required>
        </div>

        <div>
            <label for="emailUsuario">Correo electrónico</label>
            <input type="email" name="emailUsuario" id="emailUsuario">
        </div>

        <div>
            <label for="fechaDeNacimiento">Fecha de nacimiento</label>
            <input type="date" name="fechaDeNacimiento" id="fechaDeNacimiento" value="1992-06-27">
        </div>

        <div>
            <label>Insterte aquí su foto de perfil</label>
            <input type="file" name="fotoPerfil">
        </div>

        <label>Select pastimes:</label>
        <div class="checkbox">
                <label><input type="checkbox" name="pastime" value="gaming">Gaming</label>
                <label><input type="checkbox" name="pastime" value="hike">Hiking</label>
                <label><input type="checkbox" name="pastime" value="guitar">Playing guitar</label>
                <label><input type="checkbox" name="pastime" value="language">Study languages</label>
        </div>
        
        <div>
            <label for="paisOrigen">Origen</label>
            <select name="paisOrigen" id="paisOrigen" required>
                <option value="" disabled selected>País de origen</option>
                <optgroup label="Latinoamerica">
                    <option value="arg">Argentina</option>
                    <option value="br">Brasil</option>
                    <option value="ven">Venezuela</option>
                    <option value="ur">Uruguay</option>
                    <option value="chi">Chile</option>
                    <option value="per">Perú</option>
                    <option value="bol">Bolivia</option>
                    <option value="par">Paraguay</option>
                </optgroup>
                <optgroup label=Europa>
                    <option value="esp">España</option>
                    <option value="por">Portugal</option>
                    <option value="fr">Francia</option>
                    <option value="ale">Alemania</option>
                </optgroup>
            </select>
        </div>

        <div>
            <label for="comentario">Deje su comentario:</label>
            <textarea name="comentario" id="comentario"></textarea>
        </div>

        <div>
            <label><input type="radio" name="terminos" value="acepto">Acepto</label>
            <label><input type="radio" name="terminos" value="noAcepto">No acepto</label>
        </div>

        <div>
            <button type="submit">Enviar</button>
            <button type="reset">Cancelar</button>
        </div>

        <div>
            <input type="button" value="ENVIAR CON INPUT">
        </div>


    </form>





</body>
</html>