<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first HTML</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <!-- <p class="oculto">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae excepturi repellat sit! Minus voluptatem eos quis. Fugiat animi quisquam nulla, officia laborum necessitatibus mollitia. Impedit deleniti pariatur veniam dolorem aperiam!
    </p> -->

    <!-- <h1>This is a title. H1 to be more specific.</h1>
    
    <h2>This is a subtitle. H2.</h2>

    <img src="/img/meme1.jpg" alt="mouth meme">
    
    <strong>Texto en negrita</strong>

    <p>Lorem ipsum dolor <strong>esto es un texto en negrita</strong> sit amet consectetur adipisicing elit. Sunt quibusdam eum eligendi illo nisi laboriosam, voluptas voluptate rerum ex ipsa quo! Quasi molestiae perferendis fugit magnam, pariatur rem ut quo.</p>
    
    <p class="different-paragraph">Lorem <em>I'm different</em> ipsum dolor sit amet consectetur adipisicing elit. Consequatur impedit blanditiis pariatur magnam minima totam! Beatae vitae commodi cum, natus delectus nisi. Nobis numquam praesentium dolorem sed omnis, ipsa soluta?</p>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>

    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>

    <a href='https://www.youtube.com/watch?v=dQw4w9WgXcQ' target='_blank'>This is a cool link.</a> -->

    <!-- <article class="contenedor01">
        <h2>Lorem ipsum dolor sit</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur modi vero cupiditate, aliquid earum perferendis fugit, architecto porro delectus deserunt nemo sed, ea quibusdam. Vero nulla reprehenderit excepturi sed corrupti!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus nulla eveniet non eos dolore illo blanditiis magni neque, error praesentium. Sunt dignissimos magni accusantium in harum totam porro consectetur deleniti?</p>
        <article class="contenedor02">
            soy el contenedor02
        </article>
    </article>
    <article class="contenedor02">
        <h2>Lorem ipsum dolor sit</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur modi vero cupiditate, aliquid earum perferendis fugit, architecto porro delectus deserunt nemo sed, ea quibusdam. Vero nulla reprehenderit excepturi sed corrupti!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus nulla eveniet non eos dolore illo blanditiis magni neque, error praesentium. Sunt dignissimos magni accusantium in harum totam porro consectetur deleniti?</p>
        <article class="contenedor01">
            soy el contenedor01
        </article>
    </article> -->

    <!-- <section class="contenedor03">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam qui quia molestiae maxime ipsum! Est iure nisi quam distinctio aspernatur. Eligendi, at quo? Maxime, nostrum provident. Maiores excepturi iste nihil!</p>
    </section> -->

    <!-- <article class="contenedor01">
        <h2>Lorem ipsum dolor sit</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur modi vero cupiditate, aliquid earum perferendis fugit, architecto porro delectus deserunt nemo sed, ea quibusdam. Vero nulla reprehenderit excepturi sed corrupti!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus nulla eveniet non eos dolore illo blanditiis magni neque, error praesentium. Sunt dignissimos magni accusantium in harum totam porro consectetur deleniti?</p>
    </article> -->

    <article class="contenedor101">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam esse perspiciatis voluptas veritatis hic at quae! Laudantium dolorem unde dolorum maxime asperiores quaerat enim iste officia, accusantium provident, qui nemo?</p>
    </article>

    <article class="contenedor102">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis impedit molestiae vel error in ex architecto aperiam natus voluptatem, nisi nulla reiciendis officiis cupiditate quae itaque amet possimus hic enim?</p>
    </article>

</body>

</html>