<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/prueba.css">
</head>
<body>
    <header class="main">

        <div class="imagen">
            <img src="#" alt="logo">
        </div>

        <ul class="left-navbar">
            <li>Inicio</li>
            <li>Ayuda</li>
            <li>Nosotros</li>
        </ul>

        <ul class="right-navbar">
            <li>Perfil</li>
            <li>Usuario</li>
            <li>Registrarse</li>
        </ul>


    </header>
</body>
</html>